!!! 5
html(lang="en")
  head
    title surespot
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="../css/lib/jquery.mobile-1.1.1.css")
    script(src="../js/lib/jsbn.js")
    script(src="../js/lib/jsbn2.js")
    script(src="../js/lib/rsa.js")
    script(src="../js/lib/rsa2.js")
    script(src="../js/lib/prng4.js")
    script(src="../js/lib/rng.js")
    script(src="../js/lib/rsasync.js")
    script(src="../js/lib/seedrandom.js")
    script(src="../js/lib/sjcl.js")
    script(data-main="../js/app/main", src="../js/lib/require.js")
    link(rel="stylesheet", href="../css/app/style.css")

  body#page_body(data-base="http://alpha.surespot.me")
    include login
    include signup
    include notifications
    include friends
    include conversation
