#signup(data-role="page")
    div(data-role="header", data-position="fixed", data-tap-toggle="false", data-add-back-btn="true")
      a(href="#login", data-role="button", data-icon="delete") cancel
      h1 surespot
    div(data-role"=content")
      form#signupform(method="post", data-ajax="false")
        div(style='width:200px; text-align:right')
          label username:
            input#signupusernameinput(type='text', name='username')
          br
          label password:
            input#signupPasswordInput(type='password', name='password')
          br
          input(id="signupbutton", type='submit', value='sign up')
    div(data-role="footer", data-position="fixed")

