#conversationtemplate(data-role="page")
    .conversationheader(data-role="header", data-position="fixed", data-tap-toggle="false")
      h1.ss-title.conversationcontent(data-bind="text: title()")
      div(data-role="navbar")
        ul
          li
            a.ss-logout(href='#', data-bind="click: logout") logout
          li
            a(href="#friends") friends&nbsp;
              span.friends-vm.ui-li-count(data-bind='text: totalMessageCount')
          li
            a(href="#notifications") notifications&nbsp;
              span.notifications-vm.ui-li-count(data-bind='text: itemList().length')
    .conversationcontent(data-role"=content")
       ul.conversationlines(data-role="listview", data-bind="foreach: itemList, jqmRefreshList: itemList()",  auto-dividers="true")
         li
           span(data-bind="text: $data")
    .conversationfooter(data-role="footer", data-position="fixed",  data-tap-toggle="false")

      input.conversationinput(type="text")

