#login(data-role="page")
    div(data-role="header", data-position="fixed", data-tap-toggle="false")
       a#signupheaderbutton(href="#signup", data-role="button") signup
       h1 surespot
    div(data-role"=content")
      form#loginform(method="post", data-ajax="false")
        div(style='width:200px; text-align:right')
          label username:
            input#usernameinput(type='text', name='username')
          br
          label password:
            input#passwordInput(type='password', name='password')
          br
          input(id="loginbutton", type='submit', value='login')
    div(data-role="footer", data-position="fixed")

