//
   Created by adam on 12/25/13.
doctype html
html
    meta(name='viewport' content='width=device-width')
    head
        title surespot autoinvite
link(rel='stylesheet', href='/stylesheets/style.css')
body

    .logo
        img.logo(src='/images/surespot_logo_web.png' alt='surespot logo')
    .text
        p
            | please&nbsp;
            a(href='http://tflig.ht/1bth8Eq') click here
            | &nbsp;to sign up for alpha testing and install surespot
            br
            br
            | or&nbsp;
            a(href='surespot://autoinvite/#{username}') click here
            | &nbsp;to invite #{username} if you already have surespot installed






