body {
  visibility: hidden;
}


/* {

    -webkit-backface-visibility: hidden;
}

div.ui-mobile-viewport { overflow-x: visible; }

.connected {
    background: white !important;
}

#input {
    -webkit-user-modify: read-write-plaintext-only;
}

#footerdiv {
    overflow-x: visible;
}
*/
